body {
  background: linear-gradient(to bottom, #ffc04c, #ecc4a1);
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  margin: 0;
  overflow: hidden;
}

div {
  background-color: crimson;
}

img {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: darkcyan;

  width: 400px;
  height: 300px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

#margin-negative {
  margin-bottom: -35px;
  margin-left: -65px;
}


.butterfly {
  width: 100px;
  height: 60px;
  background: url('../img/pikachu.gif') center/cover no-repeat;
  position: absolute;
  animation: moveButterfly 5s linear infinite;
}

@keyframes moveButterfly {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}