@font-face {
  font-family: "kaushan";
  src: url(/assets/fonts/kaushan-script/KaushanScript-Regular.ttf) format("truetype");
}

.handwritting-kaushan {
  font-family: kaushan;
  font-size: 20px;
  color: mediumturquoise;
  background-color: blueviolet;
}

.handwritting-kaushan-white {
  font-family: kaushan;
  font-size: 20px;
  color: white;
  background-color: blueviolet;
}